<div class="box-home">
    <img src="../aboutme.jpg" alt="deffer">
    <div class="text-home">
        <h1 class="name-home">{{myData.name}}</h1>
        <p class="info">Age : {{myData.aboutme.Age}}</p>
        <p class="info">BirthDay : {{myData.aboutme.B-date}}</p>
        <p class="info">Phone : {{myData.aboutme.Phone}}</p>
        <p class="info">Email : {{myData.aboutme.Email}}</p>
        <p class="info">Address : {{myData.aboutme.Address}}</p>
        <p class="info">{{myData.aboutme.Address2}}</p>
    </div>
</div>